<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <h2>Send SMS</h2>
        <input type="tel" name="number" id="number" placeholder="phone number">
        <input type="text" name="msg" id="msg" placeholder="write msg">
        <input type="button" id="btn" value="Send msg">
        <p class="res" id="res"></p>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>
</html>